@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-kr: "Noto Sans KR", sans-serif;
  --ff-en: "IBM Plex Mono", monospace;
  color-scheme: dark;
}

.container{
  margin: auto;
  padding: 1rem;
  width: 100%;
}

@media (max-width: 1024px) {
  .container{
    max-width: 100%;
  }
}

footer .contianer{
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: 1fr 1fr 1fr */
}

.vid{
  width: 80%;
  box-shadow: 0 0 5px indigo;
}